%h1 Loan Index

%table
  %thead
    %th
      %td Account #
      %td Name
      %td Start Date
      %td Interest %
      %td Term
      %td Monthly Payment
      %td Principal Balance
      %td Interest Balance
      %td Fees Balance
      %td Total Balance
  %tbody
    = render @loans
